.quote{
  text-align: center;
  font-size: 1rem;
  font-family: sans-serif;
  margin-top: 10rem;
  color: black;
}

.author{
  text-align: center;
  margin-top: 3rem;
  font-size: 1.5rem;
  font-family: inherit;
}

body{
  background-image: linear-gradient(to right,violet,blue);
}

div{
  background-color: white;
  opacity: 0.8;
  display: block;
  margin-top: 15rem;
}